@import url('https://fonts.googleapis.com/css?family=Parisienne');
html,
body {
    background-color: #f8f8f8;
    height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

span:nth-child(1) {
    color: chartreuse;
    padding-right: 7px;
}

span:nth-child(2) {
    color: #860;
    padding-right: 7px;
}

span:nth-child(3) {
    color: #880;
    padding-right: 7px;
}

span:nth-child(4) {
    color: #080;
    padding-right: 7px;
}

span:nth-child(5) {
    padding-right: 7px;
}

span:nth-child(6) {
    color: #800;
    padding-right: 7px;
}

span:nth-child(7) {
    color: #ad2f18;
    padding-right: 7px;
}

span:nth-child(8) {
    color: blue;
    padding-right: 7px;
}

span:nth-child(9) {
    color: #080;
    padding-right: 7px;
}

.header {
    height: 100px;
    background: url(img/headerback.JPG);
    flex: 0 0 auto;
    max-width: 100%;
}

.logo {
    float: left;
    background-color: white;
    margin-left: 1.5em;
    margin-top: 0.5em;
    padding: 0.1em;
    width: 40%;
}

.menu_top {
    list-style-type: none;
    padding: 2em;
    float: right;
    overflow: hidden;
    width: 40%;
}

.menu_top a {
    text-decoration: none;
    color: cyan;
    font-size: 2em;
    font-family: fantasy;
    padding: 1em;
}

.menu_top li {
    display: inline-block;
    background-color: navy;
}

.menu_top li:hover {
    background-color: whitesmoke;
    outline: 4px solid black;
    color: navy;
}

.menu_top a:hover {
    color: navy;
}

.content {
    flex: 1 0 auto;
}

.itemDesc {
    color: #707070;
    font-size: 14px;
    line-height: 16px;
    width: 60%;
    float: left;
    padding: 0.3em;
}

.itemHead {
    color: black;
    font-size: 18px;
    font-weight: 600;
    background-color: #eaeaea;
    padding: 0.5em;
}

.itemChar {
    float: right;
    width: 38%;
}

.detailDesc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.itemChar ul li {
    list-style-position: inside;
    list-style-image: url(img/mark.jpg);
    color: cornflowerblue;
    padding: 8px;
    font-style: italic;
    font-weight: 600;
    text-align: left;
}

.charUsers {
    text-align: center;
    margin: 3em;
    border-top: 4px solid black;
}

figure {
    display: inline-block;
}

figure img {
    outline: 3px solid darkblue;
}

.itemDesc a {
    outline: 4px solid darkgreen;
    float: left;
    margin-bottom: 2em;
    margin-right: 2em;
}


/*для картинки в описании товара*/

.itemDesc {
    overflow: hidden;
}

.itemDesc a:hover {
    outline: none;
}


/*для картинки в описании товара*/

.detailDesc p:first-letter,
.itemDesc p:first-letter {
    color: brown;
    font-style: oblique;
    font-weight: 600;
    font-size: 1.4em;
    font-family: 'Parisienne', cursive;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    color: rebeccapurple;
    font-size: 16px;
    font-weight: 700;
    width: 30em;
    height: 1.2em;
    margin: 0.3em;
}

input[type="text"] {
    text-transform: capitalize;
}

input[type="email"]:focus {
    color: midnightblue;
    background-color: cornsilk;
    font-weight: 500;
    font-style: italic;
}

h1,
h2,
h3 {
    color: midnightblue;
    text-align: center;
    clear: both;
}

form {
    width: 45%;
    line-height: 1.5em;
    margin: 0 auto;
}

fieldset {
    border-radius: 9%;
}

input[type="submit"],
input[type="reset"] {
    font-size: 1.3em;
    color: darkblue;
    background-color: white;
    font-weight: bold;
    border: black solid 1px;
    cursor: pointer;
}

input[type="button"] {
    background-color: whitesmoke;
    color: darkslategray;
    font-weight: 600;
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

input[type="button"]:hover {
    color: darkred;
    background-color: aliceblue;
    outline: 1px solid black;
}

legend {
    color: darkblue;
    font-size: 1.8em;
    font-weight: bold;
}

ol {
    text-align: left;
    font-weight: bold;
}

#map {
    width: 100%;
    margin: 0 auto;
    height: 374px;
}

#contacts {
    font-weight: 600;
    text-align: center;
}

#catalogMenu {
    font-size: 1.5em;
    text-align: center;
    width: 10%;
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.catalogItem a {
    text-decoration: none;
}

table {
    border: 1.5px solid #000;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 1.5em;
}

.tableH1 {
    text-align: left;
    font-size: 1.5em;
}

td {
    border: 1.5px solid #000;
    vertical-align: bottom;
    padding: 0.3em;
}

thead {
    line-height: 1.5em;
}

thead tr:first-child {
    font-size: 1.2em;
    font-weight: 600;
}

.version {
    font-weight: 600;
    font-style: italic;
    /*заголовок с версиями в таблице*/
}

tbody td:first-child {
    font-weight: 600;
    text-align: left;
}

.promo {
    color: green;
    font-size: 2em;
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
}

.similarItems li {
    text-align: center;
    list-style-type: none;
}

.footer {
    background-color: darkgray;
    font-weight: bold;
    height: 3em;
    margin: 0 auto;
    width: 100%;
    flex: 0 0 auto;
}

.copyright {
    float: right;
    padding-right: 1em;
}